{% macro render_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ field.label }}
        {{ field(class="form-control") }}
        <p class="help-block">{{ field.description}}</p>
    </div>
{% endmacro %}

{% macro render_dataset_dropdown(field) %}
    <div class="input-group">
        <select name="{{ field.name }}" class="form-control">
        </select>
        <span class="input-group-btn">
            <button class="btn btn-default {{ field.name }}-refresh" type="button">Refresh</button>
        </span>
    </div>
    <script>
        $(".{{ field.name }}-refresh").click(function () {
            var sql = new cartodb.SQL({ user: $("#carto_api_endpoint").val() });
            sql.execute("select * from cdb_usertables()")
                .done(function(data) {
                    for (var i = 0; i < data.rows.length; i++) {
                        $("[name='{{ field.name }}']").append('<option val="' + data.rows[i].cdb_usertables + '">' + data.rows[i].cdb_usertables + '</option>');
                    }
                })
                .error(function(errors) {
                    $("[name='{{ field.name }}']").empty();
                });
            });
    </script>
{% endmacro %}
